[core]
	excludesfile = ~/.gitignore_global
	# editor = code --wait
[push]
	default = current
	followTags = true
[user]
	name = R. A. Souza
	email = alves.wm@gmail.com
[tag]
	forceSignAnnotated = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
